@charset "utf-8";

.edit h2{ font-size:38px; color:#6dc3ea; font-weight:normal; margin-bottom:40px;}
.edit .el-tabs{ margin-bottom:20px;}
.edit_img{ width:100px; height:100px; border-radius: 50%; margin-bottom: 10px;}

.imgUpload .el-upload{ display:block;}
.imgUpload .el-upload .el-upload-dragger{ width: 100%;}