@charset "utf-8";

.info { padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px dashed #999}
.info img{ float: left; width:80px; height:80px; border-radius: 50%;}
.info h1,.info p{ padding-left:100px;}
.info h1{ font-size: 32px;}
.info h1 small{ font-size: 14px; color: #b1b1b1; font-weight: normal; margin-left: 20px;}































