@charset "utf-8";

.uList h2{ font-size:38px; color:#6dc3ea; font-weight:normal; margin-bottom:40px;}
.uList .search{ margin-bottom:30px;}
.uList .search .el-form-item{ margin-bottom:0;}
.uList .search .el-form-item .el-input-group{ width:350px;}
.uList .search .el-form-item__content{ height:36px;}
.uList .search .el-select{ width:120px;}
.uList .pagination{ text-align:center; padding:20px 0;}